body {
  margin: 0;
}
.manu-bar {
  background: #16425b;
  width: 100%;
  height: 60px;
  margin: 0;
  display: inline-block;
  text-align: center;
}
.btn {
  color: #fff;
  text-decoration: none;
  width: 100px;
  margin: 0 auto;
  display: block;
}

.btn:hover {
  color: #219ebc;
}
li {
  list-style: none;
  width: 100px;
  display: inline-block;
  justify-content: space-between;
}
.logo {
  background: #fff;
  text-align: center;
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: space-between;
}
.log-img {
  margin: 10px 30px;
}
.search-box {
  border-radius: 20px;
  height: 30px;
  border-right: 2px solid #16425b;
  width: 50%;
}
.left-box {
  width: 50%;
  border-bottom: 2px solid #16425b;
}
.right-box {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.email-box {
  height: 30px;
  width: 300px;
}
.submit {
  width: 70px;
  height: 30px;
  border: none;
  background: #16425b;
  color: #fff;
}
.info-container {
  width: 100%;
  margin: 50px;
  height: 100%;
  justify-content: center;
}
.last {
  background: #16425b;
  height: 100px;
  color: #fff;
  text-align: center;
}

@media (min-width: 500px) {
  .info-container {
    display: flex;
  }
  .left-box {
    border-bottom: none;
    border-right: 2px solid #16425b;
    margin-right: 50px;
  }
  .info-container {
    width: 100%;
    margin: 50px;
    height: 60vh;
  }
}
