body {
  margin: 0;
}
.manu-bar {
  background: #16425b;
  width: 100%;
  height: 60px;
  margin: 0;
  display: inline-block;
  text-align: center;
}
.btn {
  color: #fff;
  text-decoration: none;
  width: 100px;
  margin: 0 auto;
  display: block;
}

.btn:hover {
  color: #219ebc;
}
li {
  list-style: none;
  width: 100px;
  display: inline-block;
  justify-content: space-between;
}
.product {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
.first,
.second,
.third {
}
.first:hover {
  outline: 2px solid skyblue;
}
.second:hover {
  outline: 2px solid skyblue;
}
.third:hover {
  outline: 2px solid skyblue;
}
.images {
  width: 250px;
}
a {
  text-decoration: none;
  color: black;
}
p,
p2 {
  margin: 0;
}
.best {
  text-align: center;
  border-bottom: 2px solid #16425b;
  padding-bottom: 10px;
  width: 50%;
  margin: 30px auto 0;
  display: block;
}
h1 {
  font-family: "Freesentation-9Black";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}
p {
  font-family: "Freesentation-9Black";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}
p1 {
  font-family: "Freesentation-9Black";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

.last {
  background: #16425b;
  height: 100px;
  color: #fff;
  text-align: center;
}
.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-size: cover;

  animation: slider 7.5s infinite linear;
}

.slide:nth-child(1) {
  background-image: url(image/medicine1.jpg);
  animation-delay: 0;
}
.slide:nth-child(2) {
  background-image: url(image/medicine2.jpg);
  animation-delay: -2.5s;
}
.slide:nth-child(3) {
  background-image: url(image/medicine3.jpg);
  animation-delay: -5s;
}
.slide:nth-child(4) {
  background-image: url(image/medicine4.jpg);
  animation-delay: -7.5s;
}
.logo {
  background: #fff;
  text-align: center;
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: space-between;
}
.log-img {
  margin: 10px 30px;
}
.search-box {
  border-radius: 20px;
  height: 30px;
  border: 2px solid #16425b;
  width: 50%;
}
@keyframes slider {
  0% {
    transform: translateX(0);
  }

  26% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  93% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
@media (min-width: 500px) {
  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
  }
  .images {
    width: 250px;
  }
}
